input {
  lumberjack {
    port => 5000
    type => "logs"
    ssl_certificate => "{{ logstash_ssl_dir }}/{{ logstash_ssl_certificate_file }}"
    ssl_key => "{{ logstash_ssl_dir }}/{{ logstash_ssl_key_file }}"
  }
}
