ha_backend "consul" {
  address = "127.0.0.1:8500"
  advertise_addr = "{{ vault_consul_advertise_addr }}"
  path= "vault"
}

backend "mysql" {
  address = "{{ vault_mysql_address }}:3306"
  username = "{{ vault_mysql_user }}"
  password = "{{ vault_mysql_pass }}"
  database = "{{ vault_mysql_db }}"
}

listener "tcp" {
 address = "0.0.0.0:8200"
 #tls_cert_file = "/etc/vault/cert.pem"
 #tls_key_file = "/etc/vault/key.pem"
 tls_disable = 1
}

disable_mlock = true
